/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #e1e1e1;
}

/* Estilos de la cabecera */
header .contenedor_menu {
    padding: 5px 0;
    background-color: #ffff;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, .8);
    box-shadow: -2px 2px 55px -12px rgba(0,0,0,0.75);
}

header .contenedor_menu .sitio a {
   text-decoration: none;
   color: #b5121b; 
}

header .contenedor_menu .sitio a h1 {
    line-height: 51px;
    font-size: 32px;
}

header .contenedor_menu .menu {
    text-align: right;
    line-height: 51px;
}

header .contenedor_menu .menu a {
    color: #b5121b;
    margin-left: 20px;
    font-size: 18px;
}

/* Estilos del main y principal */

.main .cartelera .titulo {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 27px;
    color: #454545;
}
.main .cartelera .pelicula {
    width: 300px;
    margin-bottom: 20px;
    padding: 28px 16px;
}
.main .cartelera .pelicula img {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
    vertical-align: top;
}

.main .cartelera .pelicula .horarios {
    display: block;
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #b5121b;
    border-radius: 0 0 2px 2px;
    margin-bottom: 20px;
}

/* Estilos del pie de pagina */

footer{
    margin-top: 30px;
    background: #dddddd;
    color: fff;
    padding: 30px 0;
}

footer .redes{
    text-align: center;
    padding: 20px 0;
    color: #454545;
}

footer .redes a {
    display: block;
    padding: 10px;
    margin: 0 20px;
    width: 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    float: left;
}
footer .redes .facebook,
footer .redes .twitter,
footer .redes .instagram {
    background: #b5121b;
}




